absl-py==1.0.0
asgiref==3.5.0
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
blis==0.7.7
cachetools==5.0.0
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cycler==0.11.0
cymem==2.0.6
debugpy==1.6.0
decorator==5.1.1
Django==4.0.4
easy-aes==0.122
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints==0.4
executing==0.8.3
flatbuffers==2.0
fonttools==4.33.3
funcy==1.17
future==0.18.2
gast==0.5.3
gensim==4.2.0
grpcio==1.44.0
h5py==3.6.0
idna==3.3
imageio==2.19.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
langcodes==3.3.0
libclang==14.0.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
murmurhash==1.0.7
nest-asyncio==1.5.5
networkx==2.8
nltk==3.7
numexpr==2.8.1
numpy==1.22.3
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
pickleshare==0.7.5
Pillow==9.1.0
preshed==3.0.6
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
Pygments==2.12.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
pywin32==303
pyzmq==22.3.0
regex==2022.6.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.3
stack-data==0.2.0
statsmodels==0.13.2
termcolor==1.1.0
textblob==0.17.1
thinc==8.0.17
threadpoolctl==3.1.0
tifffile==2022.5.4
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typer==0.4.1
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
wasabi==0.9.1
wcwidth==0.2.5
Werkzeug==2.1.1
wrapt==1.14.0
