{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="header">
    <div class="container">
        <div>
            <h1>The Enron Scandal</h1>
            <p>
                Find out how the enron emails relat to the enron scandal and also who might have written a particular email. <br>
                Click Autofill to get an email right from the corpus
            </p>
        </div>
        <div class="vertical-line"></div>
        
        <div class="we">
            <h2>We answer two questions</h2>
            <ol>
                <li>How is the email related to the scandal?</li>
                <li>Who might have written this email?</li>
            </ol>
        </div>
    </div>
</header>

<section class="uinput">
    <div class="container">
        <!-- <textarea name="email-field" id="e-field" cols="50" rows="20"></textarea> -->

        <form action="" class="uform" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            {{ form.body_text }}

            <div class="btn">
                <input type="button" value="Autofill" id="autofill">
                <input type="button" value="Relation" id="relation">
                <input type="button" value="Who wrote it" id="who">
            </div>
        </form>
    </div>
</section>
{% endblock %}



